@model IEnumerable<WebTrgovina.Models.ViewModels.ArtiklViewModels.ArtiklVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Stvori novi artikl", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumUnosa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cjena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumUnosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cjena)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Dodaj recenziju", "AddReview", new { id = item.Id })
           
        </td>
    </tr>
}

</table>
